/api/target/
/boot.furniture.warehouse/target/
/repository/target/
/warehouse/target/
/.settings
/.project
/.classpath
/api/.settings
/api/.classpath
/api/.project
/boot.furniture.warehouse/.settings
/boot.furniture.warehouse/.classpath
/boot.furniture.warehouse/.project
/boot.furniture.warehouse/.springBeans
/repository/.settings
/repository/.classpath
/repository/.project
/warehouse/.settings
/warehouse/.classpath
/warehouse/.project
